#suggest
  = (randomize |
    "YOU'RE GOING TO LOOK FUCKING GREAT, NO MATTER WHAT YOU CHOOSE", |
    "PRACTICE SAFE SEX, WEAR A COSTUME", |
    "HAVE A GREAT FUCKING NIGHT", |
    "PARTY TIP: BRING SOME FUCKING PUMPKIN ALE", |
    "<a href='https://docs.google.com/spreadsheet/viewform?fromEmail=true&formkey=dEZ3ZnUzbFNWN2RWX0xfSzZHYWw0ZFE6MQ' target='_new'>SUBMIT A FUCKING COSTUME</a>").html_safe


%div{style: "width:100%; height:100%; background-repeat:repeat-x; background-image: url('#{@costume.imgur}')"}
  %div{style: "width:100%; height:100%; background-image: url('#{image_path "screen.gif" }')"}
    #container
      %h1
        %p
          - if (rand(40) == 1) && @costume.quip
            = "#{@costume.quip}"
          - else
            = randomize |
              "what if you fucking were", |
              "why not stop refreshing and fucking be", |
              "why wouldn't you fucking be", |
              "why not walk in to the party as", |
              "what would your mother think if you were fucking", |
              "once my fucking grandma was", |
              "my sister met her fucking boyfriend as", |
              "imagine everyone fucking staring at", |
              "what if your father saw you as", |
              "be life of the fucking party as", |
              "think you could fucking pass for"
          %p
            %a{href:"#{@costume.amazon_link.fix_url}", target:"_new", title: "#{@costume.quip}"}
              = "#{@costume.short_name}"
        #choices
          %p
            %a{href:"/"}
              = randomize |
                "i wouldn't fucking like that", |
                "my friends wouldn't fucking like that", |
                "no fucking thanks", |
                "that would ruin my fucking night", |
                "fuck no"
          %p
            %a{href:"/?#{@choice[:param]}"}
              = "#{@choice[:phrase]}"
